.heading {
    color: #4717f6;
}

body {
    background-color: #e7dfdd;
}

.card {
    background-color: #e7dfdd;
}


/* #a239ca fuschia

#0e0b16   blackish

14, 11, 22 */

#p {
    background-color: #4717f6;
    color: #e7dfdd;
}